

body{
    font-family: 'Charm', cursive;
    text-align: left; 
    margin-left: 2em; 
    margin-right: 2em; 
    align-content: center; 
    background-color: blanchedalmond;
    font-size: 1.5em; 
    max-width: 80%;
}
a{
    font-size: 2em; 
    /* margin-left: 20%;
    margin-right: 20%;  */
}
p{
    margin-left:1em;
}

h1{
    font-size: 2em; 
}

a.call{
    text-align: right; 
    margin: 40%; 
}

a:link{
    color: rgb(153, 91, 50);
  }
  a:visited{
    color: rgb(134, 87, 25);
  }
  a:hover{
    color:burlywood;
  }

