

body{
    font-family: 'Charm', cursive;
    text-align: justify; 
    margin-left: 2em; 
    margin-right: 2em; 
    align-content: center; 
    background-color: blanchedalmond;
    font-size: 1.5em; 
    max-width: 80%;
}
a{
    font-size: 2em; 
    margin-left: 20%;
    margin-right: 20%; 
}
p{
    margin-left:1em;
}

h1{
    font-size: 2em; 
}

a:link{
    color: rgb(15, 41, 26);
  }
  a:visited{
    color: rgb(15, 41, 26);
  }
  a:hover{
    color:olivedrab;
  }

