/* regular style... style.  */

body{
  margin-top: 1rem; 
  text-shadow:2px 2px #00000038; 
  text-align: grid;
  color: #0f291a;
  font-family: 'Press Start 2P', cursive;
  line-height: 1.5; 
  margin: 2rem;
  margin-top:0rem;  
  max-width: 100rem; 
  background-color:"#96976f";
  animation-name: intro;
  animation-duration: 2s; 
  animation-iteration-count: 1;  
}

a.contact{
  line-height: 3rem;
  margin-left: 15%;
  margin-right: 5%;  
  text-align: center; 
  /* block-size: 3rem;  */
}

a:link{
  color: rgb(15, 41, 26);
}
a:visited{
  color: rgb(15, 41, 26);
}
a:hover{
  color:olivedrab;
}

details.showcase{
  padding-bottom: 2rem; 
  align-content: center; 
}

details{
  animation-name: intro;
  animation-duration: 2s; 
  animation-iteration-count: 1;  
}

.subtitle{
  align-self: right; 
}

/* General Content */
h1{
  font-size: 2rem; 
  padding-top: 10%; 
  margin-top:1rem; 
  margin-bottom:2rem;
  animation-name: intro;
  animation-duration: 2s; 
  animation-iteration-count: 1;  
}

summary {
  border: 0.5rem solid transparent; 
  box-shadow: #0f291a;
  outline: none;
}

details{
  display: flow-root; 
  padding-left: 5%; 
  /* margin: 1rem;  */
  margin-bottom:1rem; 
  border: darkolivegreen;
  outline: none; 
  border-bottom-style: dashed;
  border-top-width: 5em; 
}


footer {
  font-size: 0.75rem; 
  text-align:center;
  /* padding-top: 50%; */
  scroll-padding: 90%; 
  /* text-anchor: end;  */
}

p {
  margin-left: 2rem; 
  margin-top: 1rem; 
  margin-right: 2rem; 
  margin-bottom: 1rem; 
  }

p.subtitle{
  margin-left: 3rem; 
  padding-left: 10%;
  text-align: left; 
}

iframe.media{
  /* margin-left: 10rem;  */
  border-bottom-right-radius: 3rem;
  border-top-right-radius: 3rem;  
  max-width: 75%;
  min-width: 30%; 
  padding-left: 30%; 
  padding-right: 20%; 
}

body > t {
  margin-left: 1rem;
  margin-bottom: 0rem;
  animation-timing-function: ease-in;
}

div.bio{
  padding-left: 10%; 
}



@keyframes intro {
 0% { color: #96976f; margin-top:50rem}; 
 90% { color: #96976f;};
 100% {color:#0f291a;margin-top:1rem}; 
}

