body{
    display: grid; 
    text-align: block;
    color: rgb(15, 37, 24);
    font-family: 'Press Start 2P', cursive;
    line-height: 1.5; 
    margin: 10%;
}

div{
    margin: 1%; 
}

#movie_player > div.ytp-chrome-top.ytp-show-cards-title{
    display: none; 
}

details{
    border: darkolivegreen;
    border-bottom-style: dashed;
    border-bottom-width: 3%; 

}

summary{
    margin: 5%;
    
}
