/* regular style... style.  */
head.title{
  position: fixed;
  mix-blend-mode: multiply;
}

body{
  margin-top: 1rem; 
  text-shadow:2px 2px #00000038; 
  text-align: grid;
  color: #0f291a;
  font-family: 'Press Start 2P', cursive;
  line-height: 1.5; 
  margin: 2rem;
  margin-top:0rem;  
  max-width: 100%;
  overflow-x: hidden; 
  background-color:"#96976f";
  animation-name: intro;
  animation-duration: 2s; 
  animation-iteration-count: 1; 
  animation-timing-function: ease-out;
}

div.contact{
  padding-left: 10%;
  padding-bottom: 1rem;
}
a.contact{
  padding: 5%;
  margin: 3rem;
  line-height: 3rem;
}

a:link{
  color: rgb(15, 41, 26);
}

a:visited{
  color: rgb(15, 41, 26);
}

a:hover{
  color:olivedrab;
}

details.showcase{
  padding-bottom: 2rem; 
  align-content: center; 
}

p.subtitle{
  align-self: right; 
}

/* General Content */
h1{
  font-size: 2rem; 
  margin-top:1rem; 
  margin-bottom:2rem; 
}

summary {
  border: 0.5rem solid transparent; 
  box-shadow: #0f291a;
  outline: none;
}

details{
  margin-bottom:1rem; 
  border: darkolivegreen;
  outline: none; 
  border-bottom-style: dashed;
  border-top-width: 5em; 
}

details[open] summary ~ *{
  animation: sweep .5s ease-out; 
  animation-iteration-count: 1;
}

details[close] summary ~ *{
  animation: close .5s ease-in; 
}

@keyframes intro {
  0% { color: #96976f; margin-top:50%}; 
  90% { color: #96976f;};
  100% {color:#0f291a;margin-top:1rem}; 
 }
 
@keyframes sweep{
  0%    {opacity: 0; transform: translateX(-1rem);}
  100%  {opacity: 1; transform: translateX(0);}
}


@keyframes close{
  0%    {opacity: 0; transform: translateX(10px)}
  100%  {opacity: 1; transform: translateX(0)}
}

footer {
  font-size: 0.75rem;
  text-align: center; 
  width: 100%; 
  height: 2.5rem;
}

p {
  margin-left: 2rem; 
  margin-top: 1rem; 
  margin-right: 2rem; 
  margin-bottom: 1rem; 
  }

p.subtitle{
  margin-left: 1rem; 
  padding-left: 0%;
  text-align: left; 
}

iframe.media{  
  max-width: 100%;
  min-width: 0%; 
  padding: 0%;
}

p.bandcamp{
  align-items: center;
  border-radius: 10px;
}
